In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_json('github_repos_with_users.json')

In [3]:
df.dtypes

mentionableUsers    object
name                object
updatedAt           object
url                 object
dtype: object

In [4]:
dir(df.name.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [5]:
df.name.str.split('-', expand=True)

          0           1       2           3           4     5     6     7
0        01          01   hello       world  yllkaninaj  None  None  None
1        01          02    leap   1990Flori        None  None  None  None
2        01          02    leap  verosuarez        None  None  None  None
3        01          01   hello       world   KUNDANA11  None  None  None
4        01          01   hello       world  verosuarez  None  None  None
..      ...         ...     ...         ...         ...   ...   ...   ...
689      01    01_hello   world        None        None  None  None  None
690      01  05_pangram    None        None        None  None  None  None
691      01   04_grains    None        None        None  None  None  None
692  github     starter  course        None        None  None  None  None
693  python        None    None        None        None  None  None  None

[694 rows x 8 columns]

In [6]:
df

,mentionableUsers,name,updatedAt,url
0,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-01-hello-world-yllkaninaj,2022-03-16T09:31:19Z,https://github.com/DB-Teaching/01-01-hello-wor...
1,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-02-leap-1990Flori,2022-10-17T18:36:17Z,https://github.com/DB-Teaching/01-02-leap-1990...
2,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-02-leap-verosuarez,2022-10-17T18:33:49Z,https://github.com/DB-Teaching/01-02-leap-vero...
3,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-01-hello-world-KUNDANA11,2022-10-17T17:33:50Z,https://github.com/DB-Teaching/01-01-hello-wor...
4,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-01-hello-world-verosuarez,2022-10-11T07:10:30Z,https://github.com/DB-Teaching/01-01-hello-wor...
...,...,...,...,...
689,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-01_hello-world,2022-02-03T18:39:11Z,https://github.com/DB-Teaching/01-01_hello-world
690,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-05_pangram,2022-02-03T18:39:12Z,https://github.com/DB-Teaching/01-05_pangram
691,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",01-04_grains,2022-02-03T18:39:13Z,https://github.com/DB-Teaching/01-04_grains
692,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",github-starter-course,2022-02-02T15:15:28Z,https://github.com/DB-Teaching/github-starter-...
693,"[{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domi...",python,2022-02-02T15:15:18Z,https://github.com/DB-Teaching/python

In [7]:
# pd.json_normalize(data, 'locations', ['date', 'number', 'name'], 
#                    record_prefix='locations_')

dfn = pd.json_normalize(df.to_dict(orient='list'), 'mentionableUsers')
dfn

,0,1,2
0,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...","{'id': 'U_kgDOBdFZJg', 'login': 'yllkaninaj', ..."
1,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...","{'id': 'U_kgDOBuLdmw', 'login': '1990Flori', '..."
2,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...","{'id': 'U_kgDOBuLbXg', 'login': 'verosuarez', ..."
3,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...","{'id': 'U_kgDOBupYfg', 'login': 'KUNDANA11', '..."
4,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...","{'id': 'U_kgDOBuLbXg', 'login': 'verosuarez', ..."
...,...,...,...
689,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...",None
690,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...",None
691,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...",None
692,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...",None
693,"{'id': 'MDQ6VXNlcjI4OTYxMg==', 'login': 'domin...","{'id': 'MDQ6VXNlcjgwOTIxNTE4', 'login': 'ProfE...",None

## Final Version

In [25]:
import pandas as pd
import json

with open('github_repos_with_users.json') as json_file:
    data = json.load(json_file)

In [26]:
df = pd.json_normalize(data, record_path='mentionableUsers', meta=['name', 'updatedAt', 'url'], record_prefix='user_')

In [27]:
df = df[df.user_login != 'dominikb1888']
df = df[df.user_login != 'ProfEnergyHuber']

In [28]:
# df.apply(lambda x: x['Formula'].replace('Length', str(x['Length'])), axis=1)

# Remove String 'user_login' from 'name'
df['new'] = df.apply(lambda x: x['name'].replace((x['user_login']), ''), 1)
df['session'] = df['new'].str.split('-', expand=True)[0]
df['exercise'] = df['new'].str.split('-', expand=True)[1]
df['exercise_name'] =  df['new'].str.split('-', expand=True)[2] + ' ' +  df['new'].str.split('-', expand=True)[3]

In [29]:
dff = df[['session', 'exercise', 'exercise_name', 'user_login', 'url']]
dff = (dff
  .astype({
     'session':  'int8',
     'exercise': 'int8',
     'exercise_name': 'category',
     'user_login': 'category',
  })
)
dff

,session,exercise,exercise_name,user_login,url
2,1,1,hello world,yllkaninaj,https://github.com/DB-Teaching/01-01-hello-wor...
5,1,2,leap,1990Flori,https://github.com/DB-Teaching/01-02-leap-1990...
8,1,2,leap,verosuarez,https://github.com/DB-Teaching/01-02-leap-vero...
11,1,1,hello world,KUNDANA11,https://github.com/DB-Teaching/01-01-hello-wor...
14,1,1,hello world,verosuarez,https://github.com/DB-Teaching/01-01-hello-wor...
...,...,...,...,...,...
1575,1,1,hello world,ShoikatSajib,https://github.com/DB-Teaching/01-01-hello-wor...
1578,1,1,hello world,michelleschmidt,https://github.com/DB-Teaching/01-01-hello-wor...
1581,1,1,hello world,ChiomasCorner,https://github.com/DB-Teaching/01-01-hello-wor...
1584,1,1,hello world,Tanmaytc25,https://github.com/DB-Teaching/01-01-hello-wor...
1587,1,1,hello world,ShahrimaAkter,https://github.com/DB-Teaching/01-01-hello-wor...

In [30]:
print("Memory df:", df.memory_usage(deep=True).sum())
print("Memory dff:", dff.memory_usage(deep=True).sum())

Memory df: 337413
Memory dff: 78829

In [31]:
dff

,session,exercise,exercise_name,user_login,url
2,1,1,hello world,yllkaninaj,https://github.com/DB-Teaching/01-01-hello-wor...
5,1,2,leap,1990Flori,https://github.com/DB-Teaching/01-02-leap-1990...
8,1,2,leap,verosuarez,https://github.com/DB-Teaching/01-02-leap-vero...
11,1,1,hello world,KUNDANA11,https://github.com/DB-Teaching/01-01-hello-wor...
14,1,1,hello world,verosuarez,https://github.com/DB-Teaching/01-01-hello-wor...
...,...,...,...,...,...
1575,1,1,hello world,ShoikatSajib,https://github.com/DB-Teaching/01-01-hello-wor...
1578,1,1,hello world,michelleschmidt,https://github.com/DB-Teaching/01-01-hello-wor...
1581,1,1,hello world,ChiomasCorner,https://github.com/DB-Teaching/01-01-hello-wor...
1584,1,1,hello world,Tanmaytc25,https://github.com/DB-Teaching/01-01-hello-wor...
1587,1,1,hello world,ShahrimaAkter,https://github.com/DB-Teaching/01-01-hello-wor...